{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Cadastro de Cliente</title>


   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
   
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">


  </head>
<body>


<div class="container">
<form class="form-signin"method="post"> {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.id}}
        <div class="formset">
            <ul> Nome: {{ form.Nome }}</ul>       
            <ul> Email:{{ form.Email }} </ul>

        </div>
    {% endfor %}

    

    <input type="submit" value="Cadastre Indicados" class="button"/>
</form>


<!-- Include formset plugin - including jQuery dependency -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
    $('.formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>

 </div> <!-- /container -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-1.11.3.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="js/bootstrap.js"></script>
</body>
</html>
    {% endblock %}