{% extends "base.html" %}


<!--{% load staticfiles %}--> 

{% block title %} Cadastro dos Indicados {% endblock %}
{% block content %}
        <div class="container">

    <div class="jumbotron">
      <div class="container">
        <h1>Bem vindo, {{user.username}} !</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
            <form class="form-singin" method="post"> {% csrf_token %}
                <h2 class="form-signin-heading">Cadastro de Indicados</h2>
                    {{ categorias.management_form }}
                    {% for categoria in categorias.forms %}
            {{categoria.id}}
                    <div class="input-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 link-formset">
                            <p> {{ categoria.cat }}</p>
                         </div>
                      {% if categoria.nested %}
                         {{ categoria.nested.management_form }}
                        {% for formset in categoria.nested.forms %}
                        {{formset.id}}
                       <div class="form-inline link-formset">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             <ul> {{ formset.Nome}}</ul>
                            </div>
                             <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             <p> {{ formset.Email }}</p>
                            </div>
                       </div>
                            
                        {% endfor %}
                      {% endif %}
               
                    {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" >Cadastrar Indicados</button> 
                         </div>
             </form>

         </div> <!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>

    <!--</body>
</html>-->
{% endblock %}