{% extends "base.html" %}

{% load staticfiles %} 

{% block title %} Questionário {% endblock %}

{% block content %}

    <div class="container">

    <div class="jumbotron">
      <div class="container">
        <h1>Bem vindo, {{form.Nome}} !</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
  <form class="form-signin" action="" method="post"> {% csrf_token %}
        <h2 class="form-signin-heading">Por favor, responda as seguintes perguntas.</h2>
        <p>Pergunta 01: {{form.Resposta1}}</p>
        <p>Pergunta 02: {{form.Resposta2}}</p>
        <button class="btn btn-lg btn-primary" type="submit" value="Register">Enviar</button>
  </form>

    </div> <!-- /container -->

{% endblock %}