{% extends "base.html" %}
{% block title %}Cadastro nova senha{% endblock %}

{% block content %}
<div class="container">
    {% if validlink %}
        <p>Por favor entre com a sua nova senha duas vezes.<br />
           Para que possamos verficar se a mesma foi digitada corretamente.</p>
        <form class ="form-signin" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table class="table">
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-lg btn-primary" type="submit" value="Change my password" >Cadastrar Indicados</button></td>
                </tr>
            </table>
        </form>
     </div>
    {% else %}
    <div class="container">
        <h1>Não foi possível cadastrar sua nova senha</h1>
        <p>O link de troca de senha é inválido, <br />
        possivelmente porque já foi utilizado. <br />
        Por favor, entre de novo com o pedido para alterar senha.</p>
        </div>
    {% endif %}
    
{% endblock %}