{% extends "base.html" %}


{% block title %}Reset Senha{% endblock %}

{% block content %}

 
<div class="container">
    <h2>Esqueceu sua senha ?</h2>
    <p>Por favor forneça seu endereço de email cadastrado e clique em Enviar. Nós te enviaremos um email que inclui um link para o cadastro de uma nova senha.</p>
<form class="form-signin" action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p class="text-right"><label for="id_email">E-mail:</label> {{ form.email }} </p>
    <button class="btn btn-primary align-right" type="submit" value="Reset password">Enviar</button>
</form>

</div>
{% endblock %}